{% extends "wiwako/base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to our store</h1>
    
    <div class="row">
        <div class="col-md-6">
            <form method="GET" action="{% url 'search_results' %}" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="query" placeholder="Search products">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <form method="GET" action="{% url 'PRODUCTS' %}" class="mb-3">
                <select class="form-control" name="category">
                    <option value="">All Categories</option>
                    <option value="Წიწაკა">Წიწაკა</option>
                    <option value="ჯუჯა პომიდორი">ჯუჯა პომიდორი</option>
                    <option value="	ბაზილიკი">	ბაზილიკი</option>
                </select>
                <button type="submit" class="btn btn-primary">Filter by Category</button>
            </form>
        </div>
    </div>

    <div class="row">
        {% for product in wiwaka %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'IND-WIWAKA' id=product.id %}">
                    <img src="{{ product.photo.url }}" class="card-img-top" alt="Product Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'IND-WIWAKA' id=product.id %}">{{ product.saxeli_qartulad }}</a>
                    </h5>
                    <p class="card-text">Fasi: {{ product.fasi }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

  
</div>
{% endblock %}
