{% extends "wiwako/base.html" %}

{% block content %}
<div class="container">
    <h1>Welcome to our store</h1>
    
    <div class="row">
        {% for product in wiwaka %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="{% url 'IND-WIWAKA' id=product.id %}">
                    <img src="{{ product.photo.url }}" class="card-img-top" alt="Product Image">
                </a>
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'IND-WIWAKA' id=product.id %}">{{ product.saxeli_qartulad }}</a>
                    </h5>
                    <p class="card-text">Fasi: {{ product.fasi }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if wiwaka.has_previous %}
                <a href="?category={{ request.GET.category }}&page=1">&laquo; first</a>
                <a href="?category={{ request.GET.category }}&page={{ wiwaka.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ wiwaka.number }} of {{ wiwaka.paginator.num_pages }}.
            </span>

            {% if wiwaka.has_next %}
                <a href="?category={{ request.GET.category }}&page={{ wiwaka.next_page_number }}">next</a>
                <a href="?category={{ request.GET.category }}&page={{ wiwaka.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
